[Unit]
Description=Reapply undervolt settings after suspend
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/undervolt -v --core -130 --gpu -45 --cache -130

[Install]
WantedBy=suspend.target
